.container {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

.normal-input-width {
  width: 90%;
  margin: 8px;
}

.small-input-width {
  width: 45%;
  margin: 8px;
}
.footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 10px;
}
.footer-button{
 margin-right: 5px;
}